[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2.4,<3.3"
drf-spectacular = ">=0.15.1,<0.16"
pillow = ">=8.2.0,<8.3"
social-auth-app-django = "*"
python-decouple = "*"
django-cors-headers = "~=3.1.1"
drf-jwt = "~=1.13.3"
requests = "~=2.22.0"
virtualenvwrapper = "*"
dnspython = "*"
djongo = "*"
python-dotenv = "*"
authlib = "*"
mongoengine = "*"
pymongo = "==3.12.3"
djangorestframework = "==3.13.1"
langchain = "*"
beautifulsoup4 = "*"
llamaapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
